---
---

@import "{{ site.theme }}";
.page-header {
	padding-top: 0.5rem;
	padding-bottom: 0rem;
}
details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 0.5em 0.5em 0;
}
summary {
	font-weight: bold;
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
	display: revert;
}
details[open] {
	padding: 0.5em;
}
details[open] summary {
	border-bottom: 1px solid #aaa;
	margin-bottom: 0.5em;
}
